html, body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    font-size: 20px;
    line-height: 30px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

/* Intro */
.intro {
    display: flex;
    overflow: hidden;
}

.header {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: relative;
    max-width: fit-content;
    margin: auto 7vw;
}

h1 {
    font-size: 3rem;
    line-height: 50px;
}

.intro-link ul {
    display: flex;
    align-content: space-between;
    gap: 35vw;
    margin: 15px 10px;
}

/* Breaker */
.breaker {
    background-color: transparent;
    height: 70px;
}

/* Recipe */
.divider img {
    width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.recipe {
    position: absolute;
    top: 160vh;
    padding: 10% 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ingredients, .steps {
    align-self: flex-start;
}

h3 {
    text-align: center;
    margin-bottom: 5px;
}

.recipe li {
    max-width: 35vw;
    font-size: 1em;
}

/* Tablet version  */
@media screen and (max-width: 1025px) {
    body, html {
        scroll-snap-type: inline;
    }
    .intro {
        height: 100vh;
    }
    .intro-img {
        display: none;
    }
    .intro-link {
        display: none; 
    }
    .breaker {
        display: none;
    }
    .recipe.li {
        width: 50vw;
    }
    .recipe {
        flex-direction: column;
        gap: 40px;
        top: 150vh;
    } 
    .ingredients, .steps {
        align-self: center;
    }
}

/* Mobile version */
@media screen and (max-width: 540px) {
    h1 {
        font-size: 2em;
    }
    h3 {
        font-size: 0.75em;
    }
    .recipe {
        padding: 0;
        top: 140vh;
    }
    .recipe li {
        max-width: 50vw; 
        font-size: 0.6em;
    }
  }