html, body {
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background: rgb(164, 164, 164);
}
::-webkit-scrollbar-thumb {
    background: rgb(120, 120, 120); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100); 
}

section {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    font-size: 1.25em;
    line-height: 1.7em;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

/* Intro */
.intro {
    display: flex;
}

.header {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: relative;
    max-width: fit-content;
    margin: auto 7vw;
}

.title h1 {
    font-size: 3rem;
    line-height: 50px;
}

.intro-link {
    width: 70%;
    height: 10%;
}

.intro-link ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Breaker */
.breaker {
    background-color: transparent;
    height: 70px;
}

/* Image Divider */
.divider img {
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* Recipe */
.recipe {
    padding: 10% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ingredients, .steps {
    text-align: justify;
    align-self: flex-start;
}

h3 {
    margin-bottom: 5px;
}

.recipe li {
    max-width: 35vw;
    font-size: 1em;
}

/* Tablet & Small Laptop */
@media screen and (max-width: 1110px) {
    body, html {
        scroll-snap-type: inline;
    }
    .title {
        margin: 0px;
        max-width: 47vw;
    }
    .recipe {
        height: fit-content;
        max-height: fit-content;
    }
    .intro {
        height: 85vh;
    }
    .intro-img, .intro-link, .breaker {
        display: none;
    }
    .recipe h3 {
        text-align: center;
    }
    .recipe li {
        max-width: 47vw;
    }
    .recipe {
        flex-direction: column;
        gap: 40px;
    } 
    .ingredients, .steps {
        align-self: center;
    }
}

/* Mobile version */
@media screen and (max-width: 475px) {
    .title {
        margin: 0px;
        max-width: 80vw;
    }
    h3 {
        font-size: 0.8em;
    }
    .recipe li {
        max-width: 80vw; 
        font-size: 0.75em;
    }
  }